<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HEROS</title>
	</head>
	<body>
	<h1><%head%></h1>
	<h3><%neck%></h3>
	<h6>TABLE OF HEROINES</h6>
	<table style="width:100%">
  <tr>
    <th>NAME</th>
    <th>AGE</th> 
  </tr>
  <%for(var actor of actress) { %>
	<%tr%>
<td>actor.name</td>
<td>actor.age</td>
	<%/tr%>
	<% }%>
</table>
</body>
</html>
